<object-stream>
    <MasterConfigObject>
        <configurations>
            <entry>
                <string>dpu_config</string>
                <string><object-stream> <org.uh.attx.etl.uv.dpu.transformer.metadata.TransformerATTXMetadataConfig__V1> <inputGraphURI>http://data.hulib.helsinki.fi/attx/dataset1</inputGraphURI> <inputGraphTitle>Dbpedia</inputGraphTitle>
                    <inputGraphDescription>Sparql Endpoint Dbpedia specific query</inputGraphDescription> <inputGraphPublisher>Dbpedia</inputGraphPublisher> <inputGraphSource>http://dbpedia.org/sparql</inputGraphSource>
                    <inputGraphLicence>http://data.hulib.helsinki.fi/attx/onto#CC0</inputGraphLicence> <outputGraphURI>http://data.hulib.helsinki.fi/attx/dataset2</outputGraphURI> <outputGraphTitle>Testing specific output</outputGraphTitle>
                    <outputGraphDescription>Test Data</outputGraphDescription> <outputGraphPublisher>http://helsinki.fi/library</outputGraphPublisher> <outputGraphSource>http://helsinki.fi/library</outputGraphSource>
                    <outputGraphLicence>http://data.hulib.helsinki.fi/attx/onto#CC0</outputGraphLicence> </org.uh.attx.etl.uv.dpu.transformer.metadata.TransformerATTXMetadataConfig__V1> </object-stream></string>
            </entry>
        </configurations>
    </MasterConfigObject>
</object-stream>
