alabaster==0.7.1
ansi2html==1.1.1
appdirs==1.4.3
Babel==1.3
click==6.7
colorama==0.3.7
coverage==3.7.1
docutils==0.11
falcon==1.1.0
flake8==2.5.4
funcsigs==1.0.0
gunicorn==19.6.0
httpretty==0.8.14
imagesize==0.7.1
isodate==0.5.4
Jinja2==2.3
mccabe==0.2.1
mock==2.0.0
ordereddict==1.1
packaging==16.8
pathlib==1.0.1
pbr==1.8.0
pep8==1.5.7
pex==1.1.4
py==1.4.29
pyflakes==0.8.1
Pygments==2.0
PyMySQL==0.7.9
pyparsing==2.1.10
pytest==2.9.1
pytest-cov==2.2.1
pytest-html==1.12.0
pytest-xdist==1.14
python-mimeparse==1.5.2
pytz==2016.4
rdflib==4.2.2
rdflib-jsonld==0.4.0
setuptools-git==1.1
six==1.10.0
snowballstemmer==1.1.0
Sphinx==1.4.1
wheel==0.26.0
xmltodict==0.10.2
