Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
PyMySQL==0.7.9
PyYAML==3.12
Werkzeug==0.11.11
click==6.6
clickclick==1.2.1
connexion==1.0.129
greenlet==0.4.10
gunicorn==19.6.0
isodate==0.5.4
itsdangerous==0.24
jsonschema==2.5.1
pyparsing==2.1.10
rdflib==4.2.1
rdflib-jsonld==0.4.0
requests==2.12.3
six==1.10.0
strict-rfc3339==0.7
swagger-spec-validator==2.0.2
